<!DOCTYPE html>
<html {{ wp.languageAttributes() | raw }}>
    <head>
        <meta charset="{{ wp.bloginfo( 'charset' ) | raw }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{{ wp.title() | raw }}</title>
        <link rel="profile" href="http://gmpg.org/xfn/11" />

        {{ wp.head() | raw }}
    </head>
    <body {{ wp.bodyClass() }} itemscope="itemscope" itemtype="http://schema.org/WebPage">

    {{ wp.action('body_open') | raw }}

    {% block header %}{% endblock %}

    <div class="content">
        {% block content %}{% endblock %}
    </div>

    {% block footer %}{% endblock %}

    {{ wp.footer() | raw }}

    </body>
</html>